h6 {color: #0aad0a; font-weight: 800; font-size: 13px;}
.title {font-weight: 800; font-size: 15px;}
.price {font-weight: 700; font-size: 13px;}
.rating {color: #777; font-size: 13px;}
.imgCont {height: 200px;}
.form-control:focus { box-shadow: 0 0 5px 2px   #0aad0a; }
.btn-success{background-color:  #0aad0a; width: 75px; top: 5px; bottom: 5px; right: 5px;} 
.inputtt{height: 50px;}
.favourites{color: #c8c8c8; top: 7px; right: 7px; font-size: 18px; transition: all 0.3s ease;}
.favourites:hover{color: #777;}
.w-110{width: 110%;}
.pink{ color: red;}
.pink:hover{ color: red;}
// .product{width: 19%;}
