<div class="footer bg-main-light p-4 m-0 mt-5 ">



    <div class="p-4 container-fluid " >

        <h5 class="fw-medium mb-2">Get the FreshCart app</h5>
        <p class="text-black-50">We will send a link, open it on your phone to download the app.</p>

        <div class=" border-bottom pb-3 border-2">
            <div class="d-flex justify-content-center align-items-center my-2">
                <input class="form-control" placeholder="Enter your email ..." type="email" name="" id=""> <button class="btn ms-2 px-4 bg-main text-white">Send</button>
            </div>
        </div>

        <div class=" border-bottom pb-3 border-2 d-flex">
          
            <div class="w-50 d-flex justify-content-start align-items-center" ><span class="me-3">Payment partners</span> 
                <img src="../../../assets/logos/pngwing.com.png" class="w-10" alt=""> 
                <img src="../../../assets/logos/American_Express_logo_PNG7.png" class="w-10" alt=""> 
                <img src="../../../assets/logos/Mastercard_logo_PNG16.png" class="w-10" alt=""> 
                <img src="../../../assets/logos/Paypal_logo_PNG1.png" class="w-10" alt=""> 
            
            
            </div>


            <div class="w-50 d-flex justify-content-end align-items-center" ><span class="me-3">Get deliveries with FreshCart</span> 
                <img src="../../../assets/logos/apple.png" class="w-15" alt=""> 
                <img src="../../../assets/logos/google play.png" class="w-15" alt=""> 
                
            
            
            </div>





        </div>



    </div>



</div>
