
<div class="container my-3">


<section   *ngIf="!isLoading else loading"  >
    <div class="container  p-3">
        <div class="row ">
            <div class="col-lg-3 d-flex align-items-center justify-content-center "><img [src]="productDetails.imageCover" class="w-100" alt=""></div>
            <div class="col-lg-9 d-flex flex-column justify-content-center align-items-start  p-4"><div class="w-100">
                <p class="desc fs-5 fw-semibold">{{productDetails.title}}</p>
                <p class="info fs-6 text-secondary">{{productDetails.description}}</p>
                <span class="category fs-6" >{{productDetails.category.name}}</span>
                <div class="d-flex w-100  fs-6 mt-2 "><span class="price">{{productDetails.price|currency:"EGP "}} </span><span class="rating ms-auto text-black-50 ">{{productDetails.ratingsAverage}} <i class="fa-solid fa-star rating-color" ></i>  </span></div>
                <button (click)="addtoCartCall(productDetails.id)" class="btn btn-successer w-100 mt-3" >+ add to cart</button>
            </div></div>
        </div>
    </div>
</section>


<ng-template #loading>
    <app-loading></app-loading>
</ng-template>

</div>


<app-footer *ngIf="!isLoading" ></app-footer>
