.logOut{
    cursor: pointer;
}
.fa-cart-shopping , .fa-heart{
    font-size: 20px;
}

.cart-active{ color: #045e04 ; }

.navbarNav{font-weight: 600;}

.cartNo{ top: 0; right: 0; width: 18px; height: 18px; border-radius: 5px; background-color: #0aad0a;
cursor: pointer; color: white; font-size: 14px;}

.pink {color: #c70f5c;}
.nav-link{width: fit-content; padding-inline: 10px;}
.nav-item{width: fit-content;}
