.wishListItem{
    
    padding-block: 20px;
    border: 1px solid #0aad0a ;
    border-radius: 20px;
    margin-block: 10px;
}

.container { width: 80%;}


.checkout:hover { background-color:  #12cf12 !important; }

.category{color: #0aad0a;}

